<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC  "-//mybatis.org//DTD Mapper  3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- sql문만 적어준다. -->
<!-- id 속성은 sql구문을 구별하는 식별자, parameterType 속성은 sql 실행시 필요한 파라미터 값을 가진 객체 -->
<!-- resultType 속성은 쿼리문 실행 후 얻어진 결과값을 저장할 객체타입을 지정 -->
<!-- 객체의 멤버변수의 이름과 쿼리의 파라미터의 이름을 같도록 설정해주면 자동으로 파라미터가 세팅 -->
<!-- 왜 java.util.Map 과 java.lang.Integer 를 사용하는지 질문 -->
<!-- CDATA -->
<!-- sequence -->
<mapper namespace="ryu.study.mapper.Studyreplymapper">
	
	<select id="list" resultType="ryu.study.commentmodel.StudyCommentDTO">
		select * from study_reply where study_number = #{study_number} order by study_reply_number desc
	</select>
		
	<insert id="create">
		insert into study_reply (study_reply_number, study_number, study_reply_contents, study_reply_id) 
		values(study_reply_seq.NEXTVAL, #{study_number},#{study_reply_contents},#{study_reply_id})
	</insert>
	
	<update id="update" parameterType="ryu.study.commentmodel.StudyCommentDTO">
		update study_reply set study_reply_contents = #{study_reply_contents}, study_reply_udate=sysdate where study_reply_number = #{study_reply_number}
	</update>
	
	<delete id="delete">
		delete from study_reply where study_reply_number=#{study_reply_number}
	</delete>

<select id="listPage" resultType="ryu.study.commentmodel.StudyCommentDTO">
		<![CDATA[
  select * from
  (select rownum rn, study_reply_number, study_number, study_reply_contents, study_reply_id, study_reply_wdate, study_reply_udate 
  from study_reply where study_number = #{study_number} and rownum <= #{cri.page} * #{cri.perPageNum} order by study_reply_number desc)
where rn > (#{cri.page}-1)*#{cri.perPageNum}
order by study_reply_number desc
   ]]> 
	</select>

	<select id="count" resultType="int">
		select count(study_number) from study_reply where study_number =#{study_number}
	</select>

</mapper>
	
	
<!-- resultType, parameterType 경로 오타 -->
<!-- SQL문 중 content를 context 로 오타 -->